h1{
    color: red;
    font-size: 100px;
    font-style: italic;
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parrafo-color{
    color: black;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}



.titulo{
    position: absolute;
    top: 10px;
    left: 15px;

}

.nav{
    position: absolute;
    top: 10px;
    right: 20px;

}

nav li{
    display: inline;
}

nav li:hover{
    color: white;
    font-size: 25px;
    background-color: red;
    text-decoration: underline;
}

nav a{
    text-decoration: none;
    color: black;
}






.contenedor-limite{
    background-color: green;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid black;
    text-align: center;
}

section{
    margin: 25px;
}



.card{
    background-color: white;
    width: 300px;
    height: 350px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
}

.card img{
    width: 100px;

}

.contenedor-limite2{
    background-color: yellow;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid violet;
    text-align: center;
}

.card2{
    background-color: yellow;
    width: 300px;
    height: 350px;
    text-align: center;
    border: 5px solid violet;
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
}

.cardimg2{
    width: 80px;
}

.contenedor-limite3{
    background-color: blue;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid yellow;
    text-align: center;
}

.card3{
    background-color: blue;
    width: 300px;
    height: 350px;
    text-align: center;
    border: 5px solid yellow;
    border-radius: 10px;
    padding: 25px;
   margin: auto;
}

.cardimg3{
    width: 100px;
}

.contenedor-limite4{
    background-color: blue;
    padding: 10px;
    max-width: 1200px;
    

}

.cardimg4{
    width: 150px;
}

.contenedor-limite5{
    background-color: black;
    padding: 10px;
    max-width: 1200px;
}

.padre{
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}










footer{
    background-color: grey;
}

/*----media query------*/

@media screen and (max-width:700px) {
    header{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    h1{
        font-size: 25px;
    }
}
    
/*----------grilla--------*/
.parent {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div1 img{
        width: 300px;
    }

    .div2 { grid-area: 2 / 2 / 4 / 3; }
    .div2 img{
        width: 250px;
    }

    .div3 { grid-area: 2 / 1 / 4 / 2; }
    .div3 img{
        width: 250px;
    }

    .div4 { grid-area: 1 / 3 / 3 / 4; }
    .div4 img{
        width: 250px;
    }

    .div5 { grid-area: 3 / 3 / 4 / 4; }
    .div5 img{
        width: 300px;
    }